<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
        .myclass {
            color: blue;
        }
    </style>
    <script>
        function testFunction() {
            alert("javascript function...");
        }
    </script>
</head>
<body>
    <div>
        <h3>장고(Django) + MariaDB 계시판 </h3>
        <ul style="display: flex;">
            <li style="list-style: none; margin: right 10px;"><button>HOME</button></li>
            <li style="list-style: none; margin: right 10px;"><button onclick="testFunction()">Call function</button></li>
            <li style="list-style: none; margin: right 10px;"><a href="https://www.youtube.com/watch?v=YK737-SIy00&list=PLr_ki3_GfpZMCHR_Im1AEeRd-NNs16KSh&index=15" target="_blank"><button>COP</button></li>
        </ul>
    </div>
</body>
</html>