
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">장고 게시판</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a href="/board">Board</a></li>
          <li><a href="/album">Album</a></li>

              
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        {% comment %} <i class="bi bi-list mobile-nav-toggle"></i> {% endcomment %}
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->