  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/"><span>플랫폼 학습</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>

          <li class="drop-down"><a href="#">Board</a>
            <ul>
              <li><a href="board">Board</a></li>
              <li><a href="#" onclick="alert('Plan...')">댓글*</a></li>
              <li><a href="#" onclick="alert('Plan...')">파일업로드*</a></li>
              <li><a href="#" onclick="alert('Plan...')">Ajax*</a></li>
            </ul>
          </li>

          <li class="drop-down"><a href="/ds_querytolist">Data Study</a>
            <ul>
              <li><a href="/ds_querytolist">Queryset > List</a></li>
              <li><a href="/ds_orm">Dataset test</a></li>
            </ul>
          </li>

          <li class="drop-down"><a href="#">Study</a>
            <ul>
              <li><a href="/markdown2" onclick="alert('Plan...')">Markdown*</a></li>
              <li><a href="/markdown2" onclick="alert('Plan...')">API(GraphQL)*</a></li>
            </ul>
          </li>

          <li><a href="http://www.globalintelligence.kr/" target="_blank">FAMILY</a></li>

          <li class="get-started"><a href="#">Get Started</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->